# SPDX-FileCopyrightText: 2025 M5Stack Technology CO LTD
#
# SPDX-License-Identifier: MIT
 
# M5STACK UiFlow USB description
CONFIG_TINYUSB_DESC_CDC_STRING="Nesso N1(UiFlow2)"

# SSL
CONFIG_MBEDTLS_AES_USE_INTERRUPT=n

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
