# SPDX-FileCopyrightText: 2024 M5Stack Technology CO LTD
#
# SPDX-License-Identifier: MIT

CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="qio"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_SPIRAM_MEMTEST=
# CONFIG_FREERTOS_UNICORE=y

# M5STACK UiFlow USB description
CONFIG_TINYUSB_DESC_CDC_STRING="M5Stack Atom EchoS3R(UiFlow2)"

CONFIG_ATOM_ECHOS3R=y
CONFIG_CODEC_ES8311_SUPPORT=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

# SSL
CONFIG_MBEDTLS_AES_USE_INTERRUPT=n
