menu "Audio Board Configuration"

    config CORES3
        bool "select CORES3"
        default n
        help
            Enable this option to support m5stack cores3.

    config TAB5
        bool "select M5STACK TAB5"
        default n
        help
            Enable this option to support m5stack tab5.
endmenu
