CONFIG_USB_ENABLED=y
CONFIG_USB_CDC_ENABLED=y
CONFIG_USB_CDC_RX_BUFSIZE=256
CONFIG_USB_CDC_TX_BUFSIZE=256

# M5STACK UiFlow USB description
CONFIG_USB_DESC_USE_ESPRESSIF_VID=y
CONFIG_USB_DESC_USE_DEFAULT_PID=n
CONFIG_USB_DESC_CUSTOM_PID=0x8120
CONFIG_USB_DESC_BCDDEVICE=0x0100
CONFIG_USB_DESC_MANUFACTURER_STRING="M5Stack Technology Co., Ltd"
CONFIG_USB_DESC_PRODUCT_STRING="M5Stack UiFlow 2.0"
CONFIG_USB_DESC_SERIAL_STRING="UiFlow2 "
CONFIG_USB_DESC_CDC_STRING="M5Stack UiFlow 2.0 Device"
