[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython
[submodule "tools/littlefs/mbed-littlefs"]
	path = tools/littlefs/mbed-littlefs
	url = https://github.com/ARMmbed/mbed-littlefs.git
[submodule "m5stack/components/esp32-camera"]
	path = m5stack/components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "m5stack/components/M5Unified/M5GFX"]
	path = m5stack/components/M5Unified/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "m5stack/components/M5Unified/M5Unified"]
	path = m5stack/components/M5Unified/M5Unified
	url = https://github.com/m5stack/M5Unified.git
[submodule "m5stack/components/lv_bindings"]
	path = m5stack/components/lv_bindings
	url = https://github.com/lvgl/lv_binding_micropython.git
[submodule "esp-adf"]
	path = esp-adf
	url = https://github.com/espressif/esp-adf.git
[submodule "m5stack/components/esp_dl"]
	path = m5stack/components/esp_dl
	url = https://github.com/hlym123/esp_dl.git
[submodule "m5stack/components/esp-code-scanner"]
	path = m5stack/components/esp-code-scanner
	url = https://github.com/hlym123/esp-code-scanner.git
[submodule "m5stack/components/esp_zigbee_host"]
	path = m5stack/components/esp_zigbee_host
	url = https://github.com/hlym123/esp_zigbee_host.git
[submodule "m5stack/cmodules/lv_binding_micropython"]
	path = m5stack/cmodules/lv_binding_micropython
	url = https://github.com/lvgl/lv_binding_micropython.git
