#
# models: human_face_recognition
#
# CONFIG_DB_FATFS_FLASH is not set
# CONFIG_DB_FATFS_SDCARD is not set
CONFIG_DB_SPIFFS=y
CONFIG_DB_FILE_SYSTEM=2
CONFIG_SPIFLASH_MOUNT_POINT="spiffs"
CONFIG_SPIFLASH_MOUNT_PARTITION="storage"
CONFIG_HUMAN_FACE_FEAT_MFN_S8_V1=y  
CONFIG_BSP_SPIFFS_MOUNT_POINT="/spiffs"
CONFIG_BSP_SPIFFS_PARTITION_LABEL="storage" 
CONFIG_BSP_SPIFFS_MAX_FILES=5
# end of models: human_face_recognition

CONFIG_DEFAULT_HUMAN_FACE_DETECT_MODEL=0
