
CONFIG_TAB5=y
CONFIG_CODEC_ES8388_SUPPORT=y
CONFIG_CODEC_ES7210_SUPPORT=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
CONFIG_CODEC_I2C_BACKWARD_COMPATIBLE=n

CONFIG_FREERTOS_PLACE_SNAPSHOT_FUNS_INTO_FLASH=y
# CONFIG_ESP_TLS_INSECURE=y
# CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y

CONFIG_ESP_COREDUMP_TO_FLASH_OR_UART=y
CONFIG_ESP_COREDUMP_CAPTURE_DRAM=y
CONFIG_ESP_COREDUMP_DECODE=y


# CONFIG_ULP_COPROC_ENABLED is not set
# CONFIG_ULP_COPROC_TYPE_FSM is not set
# CONFIG_ULP_COPROC_RESERVE_MEM is not set
