# SPDX-FileCopyrightText: 2025 M5Stack Technology CO LTD
#
# SPDX-License-Identifier: MIT

CONFIG_FLASHMODE_DIO=y  # QIO mode has some problem when mount fs
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_SPIRAM_MEMTEST=
# CONFIG_FREERTOS_UNICORE=y

# M5STACK UiFlow USB description
CONFIG_TINYUSB_DESC_CDC_STRING="M5Stack PowerHub(UiFlow2)"

# SSL
CONFIG_MBEDTLS_AES_USE_INTERRUPT=n

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

# ULP Coprocessor
# CONFIG_ULP_COPROC_ENABLED is not set

# Ethernet
CONFIG_ETH_ENABLED=y
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_PHY_INTERFACE_RMII=y
CONFIG_ETH_DMA_BUFFER_SIZE=512
CONFIG_ETH_DMA_RX_BUFFER_NUM=20
CONFIG_ETH_DMA_TX_BUFFER_NUM=10
# CONFIG_ETH_SOFT_FLOW_CONTROL is not set
# CONFIG_ETH_IRAM_OPTIMIZATION is not set
# CONFIG_ETH_USE_SPI_ETHERNET is not set
# CONFIG_ETH_USE_OPENETH is not set
# CONFIG_ETH_TRANSMIT_MUTEX is not set
# end of Ethernet