# SPDX-FileCopyrightText: 2024 M5Stack Technology CO LTD
#
# SPDX-License-Identifier: MIT

# Keep the firmware within the 4 MB board's application partition.
CONFIG_COMPILER_OPTIMIZATION_PERF=n
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# SSL
CONFIG_MBEDTLS_INTERNAL_MEM_ALLOC=n
CONFIG_MBEDTLS_CUSTOM_MEM_ALLOC=y

# Flash
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y

CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y
#CONFIG_FREERTOS_HZ=100
