name: UIFLOW2 Firmware Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-firmware:
    uses: ./.github/workflows/build-firmware.yml
    with:
      upload_artifacts: true
      upload_release: true
