name: Check code formatting

on:
  push: {}
  pull_request: {}
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: [self-hosted, Linux, X64]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - name: Install packages
      run: source tools/ci.sh && ci_code_formatting_setup
    - name: Run code formatting
      run: source tools/ci.sh && ci_code_formatting_run
    - name: Check code formatting
      run: git diff --exit-code
