name: Nightly Build

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-firmware:
    uses: ./.github/workflows/build-firmware.yml
    with:
      upload_artifacts: true
      upload_release: false
