name: m5stack port

on:
  push:
  pull_request:
    paths:
      - '.github/workflows/*.yml'
      - 'tools/**'
      - 'micropython/py/**'
      - 'micropython/extmod/**'
      - 'micropython/lib/**'
      - 'micropython/drivers/**'
      - 'm5stack/**'

jobs:
  build_idf44:
    runs-on: [self-hosted, Linux, X64]
    steps:
    - uses: actions/checkout@v3.3.0
    - name: Install packages
      run: source tools/ci.sh && ci_esp32_idf504_setup
    - name: Build
      run: source tools/ci.sh && ci_esp32_build
