# SPDX-FileCopyrightText: 2024 M5Stack Technology CO LTD
#
# SPDX-License-Identifier: MIT

CONFIG_FLASHMODE_DIO=y  # QIO mode has some problem when mount fs
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_SPIRAM_MEMTEST=

# M5STACK UiFlow USB description
CONFIG_TINYUSB_DESC_CDC_STRING="M5Stack CoreS3(UiFlow2)"

CONFIG_CORES3=y
CONFIG_CODEC_AW88298_SUPPORT=y
CONFIG_FREERTOS_ENABLE_BACKWARD_COMPATIBILITY=y

CONFIG_FREERTOS_PLACE_SNAPSHOT_FUNS_INTO_FLASH=y
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y


#
# models: human_face_recognition
#
# CONFIG_DB_FATFS_FLASH is not set
# CONFIG_DB_FATFS_SDCARD is not set
CONFIG_DB_SPIFFS=y
CONFIG_DB_FILE_SYSTEM=2
CONFIG_SPIFLASH_MOUNT_POINT="spiffs"
CONFIG_SPIFLASH_MOUNT_PARTITION="storage"
CONFIG_HUMAN_FACE_FEAT_MFN_S8_V1=y  
CONFIG_BSP_SPIFFS_MOUNT_POINT="/spiffs"
CONFIG_BSP_SPIFFS_PARTITION_LABEL="storage" 
CONFIG_BSP_SPIFFS_MAX_FILES=5
# end of models: human_face_recognition

